<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--cannot figure out why CSS is not linking....HELPPP-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Eat Dat Burger!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
	{{{ body }}}
</body>

<script type="text/javascript">
	$(".change-status").on("click", function (event) {
		let id = $(this).data("id");
		console.log(id);
		let newBurger = $(this).data("newburger");
		let newBurgerStatus = {
			devoured: newBurger
		};
		console.log(newBurgerStatus);
		// Send the PUT request.
		$.ajax("/api/burger/" + id, {
			type: "PUT",
			data: newBurgerStatus
		}).then(
			function () {
				console.log("changed status to", newBurger);
				location.reload();
			}
		);
	});

	$(".create-form").on("submit", function (event) {
		event.preventDefault();
		let newBurger = {
			burger_name: $("#burger_name").val().trim()
		};
		// Send the POST request.
		$.ajax("/api/burger", {
			type: "POST",
			data: newBurger
		}).then(
			function () {
				console.log("added new burger");
				location.reload();
			}
		);
	});
</script>

</html>